<div id="edit_container">


<h2>Edit Comment</h2>
<%= link_to "Home", posts_path %>
<%= link_to "Delete", post_comment_path(@post, @comment), method: :delete %>
<p>
  <%= render 'form' %>
  </p>



</div>
