<div id="edit_container">

<h2 class ="edit_title">Edit Post</h2>


<p>
  <%= link_to "Home", posts_path %>
  <%= link_to 'Delete', post_path(@post), method: :delete, class: 'delete' %>
</p>
<%= render 'form' %>

</div>
